
body {
    background-color: blueviolet;
font-family: 'Roboto Mono', sans-serif;
}

.Weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

a{
    color: #885df1;
}

header{
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
    text-align: center;
    color: rgba(0,0,0,0.6);
}

.search-form-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button{
    background: purple;
    border: none;
    color: white;
    font-size: 17px;
    margin-left: 5px;
    padding: 10px 13px;
    border-radius: 8px;
}
 
.weather-app-data{
display: flex;
justify-content: space-between;
}

main{
    padding: 30px 0;
}

.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details{
    font-size: 16px;
    line-height: 24px;
    color: rgba(39, 33, 66, 0.4);
    font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}


.weather-app-temperature-container{
display: flex;
font-weight: bold;
font-weight: 22px;
}

.weather-app-temperature{
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold; 
}

.weather-app-icon{
    font-size: 44px;
    margin-right: 10px;
    margin-top: 16px;
}

.weather-app-unit{
    margin-top: 16px;
    font-size: 28px;
}

.weather-forecast {
  margin-top: 20px;
  text-align:center
}

.weather-forecast-date{
  font-size: 16px;
  color:#000;
  opacity:0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
font-size: 13px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0,0,0,0.6);
}
  

/*.box-1 {
  margin: 10px;
}

/* Margin left only */
/*.box-2 {
    margin-left: 10px;
  }
  
  /* 10px margin on top and bottom, 5px on the sides */
  /*.box-3 {
    margin: 10px 5px;
  }
  
  /* 20px margin top, 15px margin right, 10px margin bottom and 5px margin left */
  /*.box-4 {
    margin: 20px 15px 10px 5px;
  }
  Space outside an element.
  
  More info
  
  
  CSS
  Line height
  h1 {
    line-height: 28px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  Note: We generally use a multiplier such as 1.5 which making the line height 1.5 times higher than the font size
  
  More info
  
  
  CSS
  Position
  .heading {
    position: relative;
    top: -10px;
    left: 20px;
  }
  Note: Position can be static | relative | fixed | absolute | sticky. By default, elements are static.
  
  More info
  
  
  CSS
  Font size
  body {
    font-size: 18px;
  }
  More info
  
  
  CSS
  Font weight
  h1 {
    font-weight: normal;
  }
  
  p {
    font-weight: 700;
  }
  
  a {
    font-weight: 100;
  }
  Note: font-weight: normal | bold | bolder | lighter | number | initial | inherit; It can also be a value between 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 where 100 is thin and 900 is extra bold
  
  More info*/
  
  


